<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add book to database</title>
</head>
<body>
    <form action="/add_book" method="POST">
        <label for="title">Tytuł: </label><br>
        <input type="text" id="title" name="book_title"><br>
        <label for="ISBN">ISBN: </label><br>
        <input type="number" id="ISBN" name="isbn" maxlength="13" required><br>
        <label for="author">Autor: </label><br>
        <select name="author" id="author" required>
            {% for author in authors %}
            <option value="{{ author }}">{{ author }}</option>
            {% endfor %}}
        </select><br>
        <label for="description">Opis książki: </label><br>
        <textarea name="description" rows="10" cols="30" id="description">Tu wpisz opis książki...</textarea><br>
        <input type="submit" value="Prześlij do bazy danych">
    </form>
</body>
</html>