<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add author to database</title>
</head>
<body>
    <form action="/add_author" method="POST">
        <label for="first_name">Imię (imiona)</label><br>
        <input type="text" id="first_name" name="first_name" required><br>
        <label for="last_name">Nazwisko</label><br>
        <input type="text" id="last_name" name="last_name" required><br>
        <input type="submit" value="Dodaj autora do bazy danych">
    </form>
</body>
</html>